body{
    background-color: #117FE8;
}
#taskList{
    background-color: #2057FF;
    margin: 10px;
    padding: 10px;
    width: 330px;
    float: left;
}

#taskList > div{
    background-color: #fffa90;
    margin: 10px;
    padding: 5px;
    width: 300px;
}

.titleTask{
    text-align: center;
}

#createTask{
    background-color: #2057FF;
    margin: 10px;
    padding: 10px;
    width: 330px;    
    float: left;
}