body{
    background-color: #117FE8;
}
.screens {
    margin: 10px;
    background-color: #2057FF;
    float: left;
}
.modules{
    margin: 10px;
    background-color: #2057FF;
    float: right;
}
.workshop{
    margin: 10px;
    background-color: #2057FF;
    float: left;
}
.converter{
    margin: 10px;
    background-color: #2057FF;
    float: left;
}

.sortable {
    border: 1px solid #eee;
    width: 312px;
    min-height: 20px;
    list-style-type: none;
    margin: 10px;
    padding: 5px 0 0 0;
}

.sortable li:hover #value{
    display: none;
}
.sortable li #data{
    display: none;
}
.sortable li:hover #data{
    display: block;
}

.sortable li{
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 290px;
}

.screenNameRemove{
    margin: 10px;
    height: 32px;
}
.screenNameRemove > label{
    float: right;
}
pre{
    margin: 0;
}

.header{
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.buttonsDiv{
    margin: 10px;
}
.workshopButtons  > button{
    display: inline-block;
    margin: 0 10px;
}
.workshopButtons  > button:last-child{
    float: right;
}
.workshopButtons  > button:first-child{
    float: left;
}

.converterButtons > button{
    margin-left: 10px;
}

.titleList{
    margin: 15px 10px;
    font-size: 1.1em;
    font-weight: bold;
}
.marquee {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
}
.removeScreenButton{
    top: -7.5px;
    float: right;
}
.resultDivButton{
    margin: 10px calc(50% - 45px);
    float: left;
}
.addListButton{
    float: right;
    margin-right: 10px;
}
